section {
    background: var(--section);
    border-radius: 15px;
    margin: 150px 240px; 
    box-shadow: 5px 5px 10px 3px #121212;
}

section .content-left, section .content-right {
    display: flex;
    flex-basis: row nowrap;
    padding: 80px;
    justify-items: center;
    align-items: center;
}

section .content-right {
    flex-direction: row-reverse;
}

.content-left .con-text, .content-left .con-img, 
.content-right .con-text, .content-right .con-img {
    width: 50%;
    padding: 24px;
}

/* section text formatting */
#current-content .content-left h1, #current-content .content-right h1 {
    line-height: 40px;
    font-size: 40px;
    padding-bottom: 30px;
    color: var(--accent1);
}

#current-content .content-left h3, #current-content .content-right h3 {
    line-height: 30px;
    font-size: 30px;
    padding: 20px 0;
    color: var(--contrast);
}

#current-content .content-left h4, #current-content .content-right h4 {
    font-size: 16px;
    padding: 10px 0;
    color: var(--seccontrast);
    font-weight: 600px;
}

#current-content .content-left p, #current-content .content-right p {
    line-height: 28px;
} 

.content-left .con-text {
    text-align: left;
}

.content-right .con-text {
    text-align: right;
}