.nav-bar {
    background: var(--nav);
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 3px 3px 10px 2px #121212;
}

#name {
    float: left;
    font-size: 32px;
    transform: translateY(35%);
    padding: 0 24px;
    color: var(--accent1)
}

.nav-bar ul {
    display: flex;
    padding: 16px 10px;
    flex-wrap: wrap;
    float: right;
}

.nav-bar a {
    color: var(--contrast);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 20px;
}

.nav-bar a:hover {
    transform:scale(1.1);
}