@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --contrast: #21acac;
  --seccontrast: #146b6b;
  --section: #252525;
  --background: #191919;
  --accent1: #B1E0E0;
  --nav: #252525;
  --footer: #252525;
  --footertext: #818181;
  --black: #262626;
  --font: #ffffff;

  /* gradient */
  --colorone: rgba(0, 255, 255, 0.1);
  --colortwo: rgba(0, 255, 179, 0.1);
  --colorthree: rgba(0, 162, 255, 0.1);
  --colorfour: rgba(0, 89, 255, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 0.9vw;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--background);
  color: var(--font);
  display: flex;
  flex-direction: column;
}

.project-link {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  background-color: var(--contrast);
  margin-left: 5px;
  padding: 5px 8px;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  border: none;
}

.project-link:hover {
  background-color: #146161;
}
